<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{{this.result.dataValues.firstName}}'s Dashboard</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="goto-dashboard active"><a href="/dashboard">Dashboard</a></li>
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="/feed">All Posts</a></li>
            <li><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/feed">All Posts</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>

<div class="container">
    <div class="section">
        <div class="row">

            <div style="margin-bottom:3rem" class="col s12">
                <!-- The dashboard card. TODO: Add handlebars functionality for #each post (once that information is established) -->
                <div class="card">
                    {{!-- <div class="card-image">
                        <img src="https://placeimg.com/640/480/any">
                        <span class="card-title">Card Title</span>
                    </div> --}}
                    <div class="card-content">
                        <img src="http:{{this.result.dataValues.avatar}}" width="100px" alt=""
                            class="circle responsive-img">
                        <h3>Welcome, {{this.result.dataValues.firstName}}
                            {{this.result.dataValues.lastName}}!</h3>

                    </div>
                    <div class="card-action">
                        <a href="/dashboard/newpost">Create a new post</a>
                    </div>
                    <div class="card-action">
                        <a href="#blog-posts">View all your posts</a>
                    </div>
                    <div class="card-action">
                        <a href="/dashboard/updateProfile">Edit Profile</a>
                    </div>
                </div>
            </div>

            <h4>Your Blog Posts:</h4>
            {{!-- The place where blog posts live --}}
            <section id="blog-posts" class="col s12">
                {{#each blogs}}
                <div class="row" id="blog-post-{{this.dataValues.id}}">
                    <div class="card blue-grey darken-1 col s12 m9">
                        <div class="card-content white-text">
                            <span class="card-title">{{this.dataValues.title}}</span>
                            <p>{{this.dataValues.body}}</p>
                        </div>
                    </div>
                    <div class="col s12 m3" style="margin-top: 7.5px;">
                        <div class="row">
                            <a id="testTrigger" data-postID="{{this.dataValues.id}}"
                                data-target="modal{{this.dataValues.id}}" class="col s8 offset-s2 waves-effect waves-light btn modal-trigger"
                                href="#modal{{this.dataValues.id}}">Edit Post</a>

                            <button style="margin-top:1.5rem" id="delete-post-{{this.dataValues.id}}"
                                data-postID="{{this.dataValues.id}}"
                                class="col s8 offset-s2 waves-effect waves-light btn delete-post-btn">Delete
                                <i class="material-icons delete"></i>
                            </button>

                            <div id="modal{{this.dataValues.id}}" class="modal">
                                <div class="modal-content">

                                    <form class="update-blogPost-form" data-id={{this.dataValues.id}}>

                                        <label class="active" for="title">title</label>
                                        <input value="{{this.dataValues.title}}" id="title-{{this.dataValues.id}}"
                                            type="text" class="validate">

                                        <label class="active" for="body">body</label>
                                        <input value="{{this.dataValues.body}}" id="body-{{this.dataValues.id}}" type="text"
                                            class="validate">
                                        <br>
                                        <br>
                                        <div class="row center">
                                            <button id="button-{{this.dataValues.id}}"
                                                class="btn waves-effect waves-light" type="submit" name="action">Update Post
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/dashboard.js"></script>