<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{{username}}</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="goto-dashboard"><a href="/dashboard">Dashboard</a></li>
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li class="active"><a href="/feed">All Posts</a></li>
            <li><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/feed">All Posts</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>



<div class="container">
    {{#each post}}
    <div class="section" id="blogpost-{{this.dataValues.id}}">
        <div class="row">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http:{{this.dataValues.User.dataValues.avatar}}" alt="" class="circle response-img">
                        <span><a href="/dashboard/{{this.dataValues.User.dataValues.id}}">{{this.dataValues.User.dataValues.username}}</a></span>
                   </div>
                    <div class="card-content">
                        <span class="card-title">{{this.dataValues.title}}</span>
                        <p>{{this.dataValues.body}}</p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <span class="header">Comments:</h4>
                {{#each this.dataValues.Comments}}
                    <div class="card-panel">
                        <span>{{this.dataValues.commentBody}}</span>
                    </div>
                    <br>
                    <div class="divider"></div>
                    <br>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="divider"></div>
    {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/feed.js"></script>