<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Find Friends</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="goto-dashboard"><a href="/dashboard">Dashboard</a></li>
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="/feed">All Posts</a></li>
            <li class="active"><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/feed">All Posts</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>


{{#each usersInfo}}
<div class="container">
    <div class="row" style="margin-top: 3rem;">
        <div class="card col s12">
            <div class="card-content">
                <span class="card-title"></span>
                <h4>{{this.dataValues.firstName}} {{this.dataValues.lastName}}</h4>
                <p>Username: {{this.dataValues.username}}</p>
                <br>
                <div class="row" style="display: flex; justify-content: space-evenly;">
                    <button id="add-{{this.dataValues.id}}" data-value="{{this.dataValues.id}}"
                        class="btn waves-effect waves-light addFriend" type="submit" name="action">Add
                        Friend
                        <i class="material-icons right">person_add</i>
                    </button>
                    <button id="view-{{this.dataValues.id}}" data-value="{{this.dataValues.id}}"
                        class="btn waves-effect waves-light viewProfile" type="submit" name="action">View Profile
                        <i class="material-icons right">pageview</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/findFriends.js"></script>