<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{{this.result.datavalues.username}}</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="goto-dashboard"><a href="/dashboard">Dashboard</a></li>
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="/feed">All Posts</a></li>
            <li><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/feed">All Posts</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>




<div style="margin-bottom:3rem" class="col s12 m12">
    <div class="card">
        <div class="card-content">
        <h3>{{this.result.dataValues.firstName}} {{this.result.dataValues.lastName}}'s Profile!</h3>
        </div>
    </div>
</div>
{{#each blogs}}
<div class="container">
    <div class="row">
        <div class="card blue-grey darken-1 col s12">
            <div class="card-content white-text">
                <span class="card-title">{{this.dataValues.title}}</span>
                <br>
                <p>{{this.dataValues.body}} </p>
                <br>
                <div class="divider"></div>
                <br>
                <span><a href="/dashboard/{{this.dataValues.id}}">{{this.dataValues.username}}</a> posted at {{this.dataValues.createdAt}}</span>
                <br><br>
                <button data-value="{{this.dataValues.id}}" style="margin-left: 5rem"
                    class="btn waves-effect waves-light likeButton" type="submit" name="action">Like
                    <i class="material-icons right">thumb_up</i> {{this.dataValues.Likes.length}}
                </button>
                <button data-value="{{this.dataValues.id}}" style="margin-left: 5rem"
                    class="btn waves-effect waves-light commentButton" type="submit" name="action">Comment
                    <i class="material-icons right">comment</i>
                </button>
                </section>
            </div>


            {{!--
            <div class="appendCommentSection{{this.dataValues.id}}">

            </div>

            <div class="rendered-comments-section white-text">

                {{#each this.dataValues.Comments}}
                {{!-- <h1>{{this.dataValues.userId}} says:</h1> --}}
                <h5>{{this.dataValues.commentBody}}</h5>
                {{/each}}
            </div>
            --}}

        </div>
        <div class="col s12">
                <span class="header">Comments:</h4>
                {{#each this.dataValues.Comments}}
                    <div class="card-panel">
                        <span>{{this.dataValues.commentBody}}</span>
                    </div>
                    <br>
                    <div class="divider"></div>
                    <br>
                {{/each}}
            </div>
    </div>
</div>

{{/each}}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/userProfile.js"></script>