<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Find Friends</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li class="goto-dashboard"><a href="/dashboard">Dashboard</a></li>
            <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
            <li><a href="/feed">All Posts</a></li>
            <li><a href="/findFriends">Find Friends</a></li>
            <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>

        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="new-post"><a href="/dashboard/newPost">New Post</a></li>
    <li><a href="/feed">All Posts</a></li>
    <li><a href="/findFriends">Find Friends</a></li>
    <li class="signOutDashboard"><a href="/logout">Sign Out</a></li>
</ul>


<div style="margin-bottom:3rem" class="col s12 m12">
    <div class="card">
    </div>
</div>
<div class="card-content">
    <h3>{{this.result.dataValues.firstName}} {{this.result.dataValues.lastName}}'s Profile!</h3>
</div>
{{#each blogs}}
<div class="container">
    <div class="row">
        <div class="card blue-grey darken-1 col m10">
            <div class="card-content white-text">
                <span class="card-title">{{this.dataValues.title}}</span>
                <br>
                <p>{{this.dataValues.body}} {{this.dataValues.body}}</p>
                <br>
                <p>Created: {{this.dataValues.createdAt}}</p>
                <br>
                <button data-value="{{this.dataValues.id}}" style="margin-left: 5rem"
                    class="btn waves-effect waves-light likeButton" type="submit" name="action">Like
                    <i class="material-icons right">thumb_up</i> ( {{likesCount}} )
                </button>
                <button data-value="{{this.dataValues.id}}" style="margin-left: 5rem"
                    class="btn waves-effect waves-light commentButton" type="submit" name="action">Comment
                    <i class="material-icons right">comment</i>
                </button>



                </section>
            </div>
        </div>
    </div>
</div>
{{/each}}


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/userProfile.js"></script>